


.actionbutton{
  position: absolute;
  align-items: center;
  background-color: #130991;
  color:white;
  border-radius:5px;
 // margin-left: 5px;
  // margin-right:13px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  font-size:small ;
  font-family:'Nunito',sans-serif;
  width: 100px;
  
}

.buttons-action{
  position: absolute; 
  margin-left:30%;
  
}

.ion-row{
  padding-top:  10%;
}



