<ion-header class="header">
  <!-- [translucent]="true" -->
  <div class="header">
  <ion-toolbar>
    <ion-title>
      WEB COMPANY 
    </ion-title>
  </ion-toolbar>
</div>
</ion-header>

<ion-content class = "background" style="background-color: blue;" >
  <ion-item img src="assets/colors.jpg" alt=""></ion-item>
  <!-- class="myview"  img src="assets/colors.jpg" alt="" -->
  <!-- [fullscreen]="true" -->
  <!-- [style.background-image]="'url('+ ../assests/colors.jpg +')'"
  [style.background-size]="'100% 50%, 100% 50%'" [style.background-repeat]="'no-repeat, repeat'" -->
  <!-- <ion-header collapse="condense"> -->
    <ion-toolbar>
      <ion-title size="large">WEB COAMPANY </ion-title>
    </ion-toolbar>
  <!-- </ion-header> -->

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
